# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/logs/
/mermaid/
/gptagain/
/HIDEME/
/qcbook/
/.idea/
/debug/
/debugging/
/docs/
/models/AIM_Figure12.yaml
/aisoftmax.py
/aisoftmax2.py
/depth_first.py
/qcconcat_example.py
/qiskit-aer-sim.py
/qiskit_experiments.py
/qiskit_fredkin.py
/qkcnot.py
/qkquantish.py
/qwen_tree.py
/models/ra.yml
/test.ipynb
/.ipynb_checkpoints/
/models/HIDEME/
.env
*.log
*.mmd
__pycache__/
__marimo__/
*~
.DS_Store
csv/
