# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/logs/
/mermaid/
/gptagain/
/HIDEME/
/qcbook/
/.idea/
/models/AIM_Figure12.yaml
/aisoftmax.py
/aisoftmax2.py
/debug.log
/depth_first.py
/mmtest.mmd
/mmtest2.mmd
/qcconcat_example.py
/qiskit-aer-sim.py
/qiskit_experiments.py
/qiskit_fredkin.py
/qkcnot.py
/qkquantish.py
/qwen_tree.py
/models/ra.yml
/notebooks/symphys2.py
/notebooks/sympy_physics.py
/test.ipynb
/.ipynb_checkpoints/
/models/HIDEME/
.env
